/* grid setup */

#page_title {
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
}

#homepage_Header {
  grid-area: header;
}

#buttons {
  grid-area: buttons;
}

#homepage {
  background-image: url("../images/vineyard.jpg");
  background-size: cover;
}

#homepage_Container, #new_user_Container, #review_Container, #login_Container {
  width: auto;
  height: 300px;
  margin: auto 33% auto 15%;
  background-color: rgba(255, 255, 224, 0.6);
  border-radius: 50px;
  display: grid;
  grid:
    "header" 1fr
    "search" 1fr
    "buttons" 1fr
    / 1fr;
    align-items: center;
    justify-items: center;
}

#login_Container {
  height: 350px;
}

#new_user_Container, #review_Container {
  height: 500px;
}

.rating-star {
    direction: rtl;
    font-size: 30px;
    unicode-bidi: bidi-override;
    display: inline-block;
}
.rating-star input {
    opacity: 0;
    position: relative;
    left: -30px;
    z-index: 2;
    cursor: pointer;
}
.rating-star span.star:before {
    color: #777777;
}
.rating-star span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;
}
.rating-star span {
    margin-left: -30px;
}
.rating-star span.star:before {
    color: #777777;
    content:"\f006";
}
.rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
    color: #ffd100;
    content:"\f005";
}

.selected-rating{
    color: #ffd100;
    font-weight: bold;
    font-size: 32px;
}

.red {
  color: #800000;
}
